services:

  app:

    build:
      context: "."
      dockerfile: "Dockerfile"

    container_name: "app-spring-container"
    image: "spring-health-check"
    ports:
      - "8080:8080"

    environment:

      # DB
      SPRING_DATASOURCE_URL: "jdbc:mysql://db:3306/health_check_db"
      SPRING_DATASOURCE_USERNAME: "root"
      SPRING_DATASOURCE_PASSWORD: "password"

      # Cache
      SPRING_DATA_REDIS_HOST: "cache"
      SPRING_DATA_REDIS_PORT: "6379"

      # Broker
      SPRING_KAFKA_BOOTSTRAP_SERVERS: "broker:9092"

    depends_on:
      db:
        condition: "service_started"
      cache:
        condition: "service_started"
      broker:
        condition: "service_started"

    restart: on-failure

  db:

    container_name: "db-mysql-container"
    image: "mysql:8.0"
    ports:
      - "3306:3306"

    environment:
      - "MYSQL_DATABASE=health_check_db"
      - "MYSQL_ROOT_PASSWORD=password"

  cache:

    container_name: "cache-redis-container"
    image: "redis:7-alpine"
    ports:
      - "6379:6379"

  broker:
    container_name: "broker-kafka-container"
    image: "apache/kafka:3.7.0"
    ports:
      - "9092:9092"

    environment:
      - "KAFKA_NODE_ID=1"
      - "KAFKA_PROCESS_ROLES=controller,broker"
      - "KAFKA_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093"
      - "KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://broker:9092"
      - "KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER"
      - "KAFKA_CONTROLLER_QUORUM_VOTERS=1@broker:9093"
      - "KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
