name: Continuous Integration

on:
  push:
    branches: ["main"]

jobs:

  test:
    runs-on: ubuntu-22.04

    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Test with Gradle
        run: ./gradlew test

      - name: Upload Test Report
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: test-report-html
          path: build/reports/tests/test/

